body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    margin-top: 1.5rem;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.github {
    display: block;
    width: 120px;
    height: 45px;
    padding-left: 45px;
    background-image: url('./assets/images/github.svg');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 45px;
    color: #cbd5de;
    font-size: 16px;
    transition: 0.3s;
}
.github:hover {
    color: #fff;
}
.rss {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    height: 32px;
    background-image: url('./assets/images/rss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 111px;
}
.rss-year {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 21px;
    letter-spacing: -2px;
    color: #cbd5de;
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
}
.rss:hover .rss-year {
    right: -5px;
    letter-spacing: 0;
}
