@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: var(--neutral-color-600);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.wrapper {
  width: 95%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 92%;
  }

  @media screen and (min-width: 1024px) {
    width: 87%;
  }

  @media screen and (min-width: 1600px) {
    width: 87%;
  }
}
