.home-page {
  margin-top: 5rem;
  background-image: url('../../assets/santa.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: clamp(300px, 100vw / 768 * 400, 500px);
  position: relative;
}

.home-content {
  position: absolute;
  left: 40%;
  top: 10%;

  h1 {
    color: var(--neutral-color-100);
    font-size: clamp(40px, 100vw / 768 * 48, 72px);
    line-height: clamp(50px, 100vw / 768 * 60, 80px);
    letter-spacing: 3px;
    margin-bottom: 3rem;
  }

  .button {
    font-size: clamp(18px, 100vw / 768 * 24, 32px);
    font-weight: 600;
  }
}
