.logo {
  text-align: center;
}

.logo-main {
  margin-top: 16vh;
}

.logo-image {
  width: 70%;
}

.logo-title {
  color: white;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  line-height: 3.5rem;
}
