@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  background-color: var(--primary-color-100);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    transform: rotate(55deg);
    width: 900px;
    height: 800px;
    background-color: var(--primary-color-110);
    border-radius: 2rem;
    left: -437px;
    top: 132px;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    transform: rotate(205deg);
    width: 700px;
    height: 1000px;
    background-color: var(--primary-color-110);
    border-radius: 2rem;
    left: -284px;
    top: 459px;
    z-index: -1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}
