.toy-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  height: 55vh;
  overflow: auto;
}

.toy-card {
  color: var(--neutral-color-100);
  border: 1px solid var(--primary-color-210);
  padding: 0.5rem;
  cursor: pointer;
  position: relative;

  &.hide-by-shape,
  &.hide-by-color,
  &.hide-by-size,
  &.hide-by-count,
  &.hide-by-year,
  &.hide-by-favorite,
  &.hide-by-search {
    display: none;
  }

  .toy-amount {
    position: absolute;
    display: grid;
    place-items: center;
    left: 0;
    bottom: 0;
    width: 1.75rem;
    height: 1.75rem;
    font-weight: 600;
    background-color: var(--neutral-color-100);
    color: var(--primary-color-110);
    border-radius: 50%;
  }
}

.toy-image-for-tree {
  width: 3rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: space-between;

  .toy-image {
    width: 3.75rem;
    height: 3.75rem;
  }

  .toy-info {
    font-size: 0.85rem;

    li + li {
      margin-top: 0.25rem;
    }
  }
}

.favorite-toy {
  background-color: rgba($color: gold, $alpha: 0.2);
}
