.welcome {
  @media screen and (min-width: 1024px) {
    padding-bottom: 3.75rem;
  }
}

.wrapper.welcome-wrapper {
  position: relative;
  transition: all 1s;
  top: 0;
  padding: 0;

  &.open-menu {
    @media screen and (max-width: 1023px) {
      top: 1000px;
      opacity: 0;
    }
  }
}

.welcome-content {
  text-align: center;
  transition: all 1s;

  p {
    font-size: clamp(1rem, 100vw / 768 * 20, 1.5rem);
    font-weight: 300;
    letter-spacing: 0.125rem;
    margin-bottom: 3.125rem;

    @media screen and (min-width: 1024px) {
      font-size: min(100vw / 1024 * 24, 1.75rem);
      margin-bottom: min(100vw / 1024 * 50, 4.6875rem);
    }
  }

  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 100;
    text-align: left;

    &.open-menu {
      top: 800px;
      opacity: 0;
    }
  }
}

.btn {
  display: none;
  font-size: min(100vw / 1024 * 20, 1.375rem);
  font-weight: 300;
  letter-spacing: 0.125rem;
  padding: min(100vw / 1024 * 18, 1.1em) min(100vw / 1024 * 45, 2.9em);
  background-color: var(--primary-color-500);
  border-radius: 0.625rem;

  &:hover {
    cursor: pointer;
    color: var(--neutral-color-100);
    background-color: var(--primary-color-300);
  }

  @media screen and (min-width: 1024px) {
    display: inline-block;
  }
}

.welcome-slider {
  position: relative;
  background: url('../../../assets/images/welcome-slider/1.jpg') no-repeat
    center;
  background-position: 100% 0%;
  background-size: contain;

  img {
    max-width: 100%;
  }

  @media screen and (min-width: 1024px) {
    img {
      max-width: 71.25%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 81%;
      height: 100%;
      background: linear-gradient(
        to right,
        #000000 0%,
        rgba(0, 0, 0, 0.85) 16.19%,
        rgba(0, 0, 0, 0) 30.73%
      );
      filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
    }
  }

  @media screen and (min-width: 1920px) {
    img {
      max-width: 80%;
    }

    &::after {
      width: 81%;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: min(100vw / 420 * 20, 1.875rem) 0;
    background-color: var(--neutral-color-700);
    font-size: min(100vw / 420 * 16, 1.25rem);
    line-height: 2.5rem;
    z-index: 1;

    ul {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1024px) {
      position: absolute;
      width: 70%;
      font-size: min(100vw / 1024 * 20, 1.375rem);
      padding: min(100vw / 1024 * 40, 2.875rem) 4.6875rem;
      padding-left: 12.5rem;
      right: 0;
      bottom: -3.75rem;
    }

    @media screen and (min-width: 1920px) {
      width: 42%;
      padding-left: 4.6875rem;
    }
  }
}

.pagination-list-item {
  width: min(100vw / 420 * 7, 0.75rem);
  height: min(100vw / 420 * 7, 0.75rem);
  background-color: var(--neutral-color-100);
  cursor: pointer;

  &.active {
    background-color: var(--primary-color-300);
  }

  & + & {
    margin-left: 100vw / 420 * 10;

    @media screen and (min-width: 768px) {
      margin-left: 1.5625rem;
    }
  }

  @media screen and (min-width: 1024px) {
    width: min(100vw / 1024 * 12, 1rem);
    height: min(100vw / 1024 * 12, 1rem);
  }
}

.arrows {
  display: flex;
  align-items: center;

  svg {
    width: min(100vw / 420 * 20, 1.875rem);

    &:hover {
      cursor: pointer;

      path {
        fill: var(--primary-color-300);
      }
    }
  }

  svg + svg {
    margin-left: min(100vw / 420 * 15, 1.25rem);
  }
}
