$primary-font: 'Roboto', sans-serif;

$secondary-font: 'Forum', cursive;

$colors: (
  'primary': (
    300: #9d8665,
    500: #710707,
  ),
  'neutral': (
    100: #ffffff,
    700: #030303,
  ),
);

$primary-colors: map-get($colors, 'primary');

$neutral-colors: map-get($colors, 'neutral');

:root {
  --primary-color-300: #{map-get($primary-colors, 300)};
  --primary-color-500: #{map-get($primary-colors, 500)};
  --neutral-color-100: #{map-get($neutral-colors, 100)};
  --neutral-color-700: #{map-get($neutral-colors, 700)};
}
