@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background-color: var(--neutral-color-100);
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--primary-color-300);
  }

  &:active {
    filter: brightness(0.8);
  }
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3125rem;
}

.invisible {
  visibility: hidden;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 95%;
  }

  @media screen and (min-width: 1024px) {
    max-width: 96%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 85%;
  }

  @media screen and (min-width: 1920px) {
    max-width: 75%;
  }
}

.black-bg {
  background-color: var(--neutral-color-700);
  color: var(--neutral-color-100);
}

.white-bg {
  background-color: var(--neutral-color-100);
  color: var(--primary-color-300);
}
