.button {
  display: inline-block;
  appearance: none;
  margin: 0 auto;
  border: none;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.14s;
  outline: none;
  text-align: center;
  width: 100%;

  &:active {
    transform: translateY(3px);
  }
}

.button.button-small {
  font-size: 0.75rem;
  height: 3rem;
}

.button-primary {
  box-shadow: 0 3px 0 0 var(--primary-color-140);
  background: var(--primary-color-130);
  color: var(--neutral-color-600);

  &:hover {
    background: var(--primary-color-110);
  }

  &:active {
    box-shadow: 0 0 0 0 var(--primary-color-140);
  }
}

.button-success {
  box-shadow: 0 3px 0 0 var(--primary-color-240);
  background: var(--primary-color-230);
  color: var(--neutral-color-600);
}

.button-danger {
  box-shadow: 0 3px 0 0 var(--primary-color-340);
  background: var(--primary-color-330);
  color: var(--neutral-color-600);

  animation: error-button 0.24s forwards;
}

@keyframes error-button {
  0% {
    transform: translateX(0);
  }
  14% {
    transform: translateX(-2px);
  }
  28% {
    transform: translateX(0);
  }
  42% {
    transform: translateX(2px);
  }
  56% {
    transform: translateX(0);
  }
  84% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
