.slider-output {
  margin: 10px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  height: 40px;
  backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid #278d9f;
}

#count-slider,
#year-slider {
  margin: 20px;
  width: 200px;
  height: 10px;

  .noUi-target,
  .noUi-handle {
    cursor: ew-resize;
  }

  .noUi-connect {
    background: var(--primary-color-110);
  }

  .noUi-base {
    background: var(--neutral-color-100);
  }

  .noUi-handle {
    background-color: var(--neutral-color-100);
    height: 22px;
    width: 22px;
    top: -6px;
    right: -11px;
    border-radius: 11px;
    box-shadow: unset;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    background-color: var(--primary-color-110);
    color: var(--neutral-color-100);
  }
}
