.category {
  margin-top: -2.5rem;
}

.category-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--neutral-color-100);
  font-size: 2rem;
}

.question-title {
  text-align: center;
  color: var(--neutral-color-100);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  width: auto;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.img-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: clamp(260px, 260 * 100vw / 360, 500px);
  border-radius: 0.5rem;

  @media screen and (min-width: 768px) {
    width: 70%;
  }

  @media screen and (min-width: 1024px) {
    width: 60%;
  }
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.65rem 0.5rem;
  margin: 2rem 0;

  button {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 200px;
    margin: 0;
    margin-left: 1rem;
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.65rem 0.5rem;
    width: 50%;
    // width: 200px;
    // margin: 0;
    // margin-left: 1rem;
  }
}
