.category-title {
  text-align: center;
  text-transform: capitalize;
  color: var(--neutral-color-100);
}

.question-title {
  text-align: center;
  color: var(--neutral-color-100);
}

.img-container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 320px;
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  width: 94%;
  margin: 2rem auto;
}
