.tree-page {
  display: flex;
  column-gap: 2rem;

  .left-side {
    display: grid;
    width: 25%;
  }

  .right-side {
    width: 25%;
  }

  .main-tree {
    width: 50%;
    text-align: center;
    background-image: url('../../assets/bg/1.jpg');
    background-size: cover;
    background-position: center;

    .main-tree-image {
      width: 72%;
    }

    .toy-image-for-tree {
      position: absolute;
    }
  }

  .toys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    .toy-card {
      text-align: center;
      padding: 10%;
      border-radius: 0.5rem;
      border: none;
      background-color: hsla(49, 96%, 91%, 50%);

      img {
        width: 100%;
      }
    }
  }
}

.tree-title {
  color: var(--neutral-color-100);
  margin: 1rem 0 0.5rem;
}
