@import url('./owfont-regular.scss');

@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.non-visible {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  & * {
    pointer-events: none;
  }
}
