.wrapper.gallery-wrapper {
  padding-bottom: 0;
}

.picture-container {
  position: relative;
  overflow: hidden;
  height: calc(min(440px, 100vw / 420 * 223) * 3);
  margin-top: clamp(40px, 100vw / 768 * 40, 60px);

  @media screen and (min-width: 768px) {
    height: calc(min(500px, 100vw / 768 * 440) * 3);
  }

  @media screen and (min-width: 1024px) {
    height: calc(min(570px, 100vw / 1024 * 380) * 3);
  }

  @media screen and (min-width: 1920px) {
    margin-top: 75px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: clamp(112px, 100vw / 768 * 180, 239px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);

    @media screen and (min-width: 1024px) {
      height: min(360px, 100vw / 1024 * 239);
    }
  }
}

.picture-inner-container {
  column-width: min(352px, 100vw / 420 * 178);
  height: calc(min(440px, 100vw / 420 * 223) * 5);

  @media screen and (min-width: 768px) {
    column-width: 100vw / 768 * 352;
    gap: 24px;
    height: calc(min(500px, 100vw / 768 * 440) * 5);
  }

  @media screen and (min-width: 1024px) {
    column-width: min(456px, 100vw / 1024 * 304);
    column-gap: 35px;
    height: calc(min(570px, 100vw / 1024 * 380) * 5);
  }
}

.gallery-img {
  display: inline-block;
  margin-bottom: 24px;
  -webkit-column-break-inside: avoid;

  img {
    width: min(352px, 100vw / 420 * 178);

    @media screen and (min-width: 768px) {
      width: 100vw / 768 * 352;
    }

    @media screen and (min-width: 1024px) {
      width: min(456px, 100vw / 1024 * 304);
    }
  }
}

.gallery-img[data-key='0'] {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .gallery-img[data-key='9'] {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .gallery-img[data-key='8'] {
    margin-top: 50px;
  }
}
