.filters-by-value {
  display: grid;
  grid-template-columns: 0.33fr 1fr;
  align-items: center;
}

.filter-title,
.input-range-title {
  color: var(--neutral-color-100);
  font-size: 1.25rem;
  font-weight: 500;
}

.input-range-title {
  margin-bottom: 3.5rem;
}

#count-slider,
#year-slider {
  margin: 20px;
  width: 80%;
  height: 16px;
  font-size: 1.15rem;

  .noUi-target,
  .noUi-handle {
    cursor: ew-resize;
  }

  .noUi-connect {
    background: var(--primary-color-110);
  }

  .noUi-base {
    background: var(--neutral-color-100);
  }

  .noUi-handle {
    background-color: var(--neutral-color-100);
    height: 28px;
    width: 28px;
    top: -8px;
    right: -14px;
    border-radius: 50%;
    box-shadow: unset;

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-tooltip {
    background-color: var(--primary-color-110);
    color: var(--neutral-color-100);
    width: 5ch;
  }
}
