footer {
  position: relative;
}

.wrapper.footer-wrapper {
  padding-bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: min(40px, 100vw / 768 * 130);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 130px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 50px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 102px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #666666;

    @media screen and (min-width: 1024) {
      bottom: min(124px, 100vw / 1024 * 122);
    }
  }
}

.footer-logo {
  height: 100%;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 80px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1024px) {
    margin-right: min(145px, 100vw / 1024 * 45);
  }

  @media screen and (min-width: 1920px) {
    margin-right: 145px;
  }
}

.footer-nav {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 393px;
  }

  @media screen and (min-width: 1024px) {
    width: min(363px, 100vw / 1024 * 313);
    margin-right: min(397px, 100vw / 1024 * 92);
  }

  @media screen and (min-width: 1920px) {
    margin-right: 397px;
  }

  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 95px;

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 25px 184px;
    }

    @media screen and (min-width: 1024px) {
      column-gap: 119px;
    }

    @media screen and (min-width: 1920px) {
      column-gap: 169px;
    }

    li {
      width: auto;
      font-size: clamp(16px, 100vw / 768 * 18, 22px);
    }
  }
}

.social-nav {
  margin-top: 162px - 75px;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 143px;
    right: 110px;
  }

  @media screen and (min-width: 1024px) {
    position: initial;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li + li {
    margin-left: 5px;

    @media screen and (min-width: 768px) {
      margin-left: 25px;
    }
  }

  li:hover {
    svg {
      path {
        fill: var(--primary-color-300);
      }
      rect {
        stroke: var(--primary-color-300);
      }
    }
  }
}

.copyrights {
  display: flex;
  justify-content: space-between;
  font-size: 1;
  font-weight: 300;
  line-height: 1.375rem;
  padding: 40px 0;
  letter-spacing: 2px;

  @media screen and (min-width: 768px) {
    font-size: 1.375rem;
  }

  @media screen and (min-width: 1024px) {
    padding: 50px 0;
  }
}

.rs-link {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
