.video-wrapper {
  .section-title {
    margin: 0;
  }
}

.video-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    margin-bottom: min(4.6875rem, 100vw / 1024 * 40);
  }

  p {
    display: none;
    width: 720px;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: var(--neutral-color-700);

    @media screen and (min-width: 1920px) {
      display: block;
    }
  }
}

.video-container {
  position: relative;
  margin-bottom: 2.5rem;

  img {
    width: 100%;
  }
}

.video-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.play-circle-btn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(80px, 100vw / 420 * 50);

  @media screen and (min-width: 1024px) {
    width: clamp(80px, 100vw / 1024 * 152, 220px);
  }
}

.video-controller {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: clamp(50px, 100vw / 768 * 53, 60px);

  @media screen and (min-width: 1024px) {
    height: min(85px, 100vw / 1024 * 60);
  }
}

.video-controller-container {
  width: min(668px, 100vw / 420 * 340);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: min(904px, 100vw / 768 * 668);
  }

  @media screen and (min-width: 1024px) {
    width: min(1380px, 100vw / 1024 * 904);
  }
}

.play-btn {
  width: min(23px, 100vw / 420 * 14);
}

.volume-btn {
  width: min(27px, 100vw / 420 * 18);

  @media screen and (min-width: 1024px) {
    width: min(38px, 100vw / 1024 * 26);
  }
}

.fullscreen-btn {
  width: min(27px, 100vw / 420 * 18);

  @media screen and (min-width: 1024px) {
    width: min(35px, 100vw / 1024 * 26);
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: min(13px, 100vw / 420 * 10);
  height: min(13px, 100vw / 420 * 10);
  border-radius: 50%;
  background: var(--neutral-color-100);
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    width: min(15px, 100vw / 1024 * 13);
    height: min(15px, 100vw / 1024 * 13);
  }
}

input[type='range']::-moz-range-thumb {
  width: min(13px, 100vw / 420 * 10);
  height: min(13px, 100vw / 420 * 10);
  border-radius: 50%;
  background: var(--neutral-color-100);
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    width: min(15px, 100vw / 1024 * 13);
    height: min(15px, 100vw / 1024 * 13);
  }
}

input[type='range'] {
  background: linear-gradient(
    to right,
    var(--primary-color-500) 0%,
    var(--primary-color-500) 50%,
    var(--neutral-color-300) 50%,
    var(--neutral-color-300) 100%
  );
  border-radius: 1px;
  height: min(5px, 100vw / 420 * 4);
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  @media screen and (min-width: 1024px) {
    height: min(8px, 100vw / 1024 * 5);
  }
}

.play-range {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: 1024px) {
    position: initial;
    width: min(929px, 100vw / 1024 * 564);
  }
}

.volume-range {
  width: min(486px, 100vw / 420 * 200);

  @media screen and (min-width: 768px) {
    width: min(700px, 100vw / 768 * 486);
  }

  @media screen and (min-width: 1024px) {
    width: min(155px, 100vw / 1024 * 143);
  }
}

.video-slides {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.yt-video {
  width: min(100vw / 420 * 180, 330px);
  height: calc(min(100vw / 420 * 180, 330px) * 9 / 16);

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 354px * 9 / 16;
  }

  @media screen and (min-width: 769px) {
    width: min(100vw / 1024 * 300, 452px);
    height: calc(min(100vw / 1024 * 300, 452px) * 9 / 16);
  }

  &:last-of-type {
    display: none;

    @media screen and (min-width: 769px) {
      display: block;
    }
  }
}

.video-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(174px, 100vw / 768 * 190, 200px);
  margin: 0 auto;

  .dot {
    display: block;
    width: clamp(8px, 100vw / 768 * 10, 12px);
    height: clamp(8px, 100vw / 768 * 10, 12px);
    border-radius: 50%;
    background-color: var(--neutral-color-400);
  }

  .dot.active {
    background-color: var(--neutral-color-500);
  }

  a {
    display: flex;
    align-items: center;
  }

  svg {
    width: clamp(7px, 100vw / 768 * 10, 10px);
    height: clamp(8px, 100vw / 768 * 12, 12px);
  }
}
