.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: clamp(90px, 100vw / 768px * 110px, 130px);

  @media screen and (min-width: 768px) {
    height: clamp(110px, 100vw / 1024px * 130px, 150px);
  }
}

.logo {
  a {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: min(100vw / 420px * 16px, 28px);
  }

  svg {
    width: min(100vw / 420px * 29px, 49px);
    margin-right: 1.5625rem;
  }
}

.nav {
  width: 55%;
  height: 263px;
  position: absolute;
  top: 160px;
  left: -50%;
  transition: 0.6s;
  overflow-x: hidden;
  z-index: 100;

  @media screen and (min-width: 1920px) {
    position: initial;
    height: auto;
  }
}

.nav.open-menu {
  left: 55px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;

  li {
    font-size: 1.375rem;
    font-weight: 300;
    letter-spacing: 0.125rem;
    width: 7.625rem;

    @media screen and (min-width: 1920px) {
      width: auto;
    }

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (min-width: 1920px) {
    justify-content: space-between;
    flex-direction: row;

    li > a > svg {
      display: none;
    }
  }
}

.burger {
  display: block;
  cursor: pointer;
  z-index: 1;

  @media screen and (min-width: 1920px) {
    display: none;
  }
}

.burger__line {
  background: var(--neutral-color-100);
  width: 2rem;
  height: 2px;
  transition: all 0.3s ease;
}

.burger__line + .burger__line {
  margin-top: 0.375rem;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.open-menu .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open-menu .line2 {
  opacity: 0;
}

.open-menu .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
